################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApp/v15
/WebApp/obj
/WebApp/bin/Debug/netcoreapp2.2
/.vs
